nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background-color: rgb(28, 48, 41);
    color: white;
  }
  
  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }